ConsoleAppTEST/Connected Services/ServiceReference2/ScanPmrService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ScanPmrService.Models" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ScanPmrService.Models" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ARSCAN">
    <xs:sequence>
      <xs:element minOccurs="0" name="CODE_BAR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CODE_OPE_SCAN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IMMAGINE_FRONTE" nillable="true" type="xs:base64Binary" />
      <xs:element minOccurs="0" name="IMMAGINE_RETRO" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ARSCAN" nillable="true" type="tns:ARSCAN" />
</xs:schema>